.paragraph {
  display: flex;
  font-size: 3.4vw;
  line-height: 1;
  padding: 0rem 10rem;
  font-family: "Dream Avenue";
  color: #7f7047;
  flex-wrap: wrap;
}

.word {
  position: relative;
  margin-right: 16px;
  margin-top: 12px;
}

.shadow {
  position: absolute;
  opacity: 20%;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .paragraph {
    font-size: 4.5vw;
    padding: 0rem 3rem;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .paragraph {
    font-size: 5vw;
    padding: 0rem 3rem;
  }
  .word {
    margin-right: 11px;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .paragraph {
    font-size: 7vw;
    padding: 0rem 1.6rem;
  }
  .word {
    margin-right: 11px;
  }
}
