.wrapperRollingText {
  overflow: hidden;
  white-space: nowrap;
  font-family:"Dream Avenue";
  padding-bottom: 5rem;
}
.rollingText {
  font-size: 6vw;
  display: inline-block;
  padding-left: 10px;
}

@media(min-width:200px) and (max-width:500px){
    .rollingText {
        font-size: 9vw;
      }
     .wrapperRollingText{
      padding-bottom: 2rem;
     } 
}
