.aboutUsHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.aboutUs_banner_image_outer {
  width: 50%;
  margin: 0 auto;
}
.aboutUs_banner_image {
  /* width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.ImageProject{
  max-width: 100%;
  height: 65vh;
  object-fit: cover;
}
.ananya {
  color: #7f7047;
  font-family: "Dream Avenue";
  font-size: 120px;
  font-style: normal;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  line-height: 130px;
  text-transform: uppercase;
}

.designStyle {
  font-family: var(--font-poppins);
  color: #7f7047;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.aboutUs_flex_divider {
  display: flex;
  /* width: 60rem; */
  gap: 2rem;
  margin: 0 auto;
  padding: 0 5rem;
  /* padding-left: 0rem; */
}

.aboutUs_buttonOuter {
  color: #7f7047;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 1rem;
}

.aboutUs_banner_text_outer {
  margin-top: 0rem;
  /* padding-right: 2rem; */
  width: 50%;
}

.aboutUs_banner_text {
  color: #cc7d45;
  font-family: var(--font-poppins);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* text-transform: capitalize; */
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .ananya {
    font-size: 140.669px;
    width: 90%;
    line-height: 140px;
  }
  .aboutUs_flex_divider {
    /* padding-left: 0rem; */
    /* width: 80rem; */
  }
  .aboutUs_banner_text_outer {
    padding-right: 7rem;
  }

  .aboutUs_banner_text {
    font-size: 19px;
    line-height: 26px;
  }
}
@media(max-width: 1300px){

  .ImageProject{
    height: 65vh;
  }
  .aboutUsHeader{
    height: auto;
    padding-top: 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .ananya {
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 1.5rem;
    width: 100%;
  }

  .aboutUs_flex_divider {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    /* padding: 0; */
  }

  .aboutUs_banner_text_outer {
    margin: 0 auto;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .aboutUs_flex_divider {
    display: flex;
    /* width: 50rem; */
    flex-direction: row;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 4rem;
    /* padding-left: 0rem; */
  }
  .ImageProject{
    height: auto;
  }
  .aboutUs_banner_text_outer {
    margin: 0 auto;
    width: 70%;
    text-align: left;
    padding-right: 0;
  }
  .aboutUs_banner_text {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .ananya {
    font-size: 65px !important;
    line-height: normal;
    padding-bottom: 0rem;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .aboutUs_buttonOuter {
    display: flex;
    /* justify-content: center; */
    padding-bottom: 2rem;
  }

  .aboutUsHeader {
    /* height: 122vh; */
  }

  .aboutUs_banner_text {
    font-size: 18px;
    line-height: 25px;
  }
  .ImageProject{
    height: 50vh;
  }

  .ananya {
    font-size: 55px;
    line-height: normal;
    padding-bottom: 0rem;
    width: 100%;
  }

  .aboutUs_flex_divider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .aboutUsHeader {
    /* padding-top: 0rem;
    padding-bottom: 0rem; */
  }

  .aboutUs_banner_text_outer {
    margin: 0 auto;
    padding-right: 0;
    text-align: left;
    font-size: 14px;
    width: 100%;
  }

  .aboutUs_banner_image_outer {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .ananya {
    font-size: 46px;
    line-height: normal;
    padding-bottom: 0rem;
  }
  .aboutUs_banner_text_outer {
    font-size: 14px;
    width: 100%;
  }
  .aboutUs_flex_divider {
    gap: 1rem;
  }
  .ImageProject{
    height: 30vh;
  }
  .aboutUsHeader {
    /* padding-bottom: 1rem;
    padding-top: 2rem; */
  }
}
@media (max-width: 375px) {
  .ananya {
    font-size: 40px;
    line-height: normal;
    padding-bottom: 0rem;
  }
  .aboutUs_banner_image img {
    max-width: 100%;
    object-fit: cover;
    padding: 0 0px;
  }
}
@media screen and (max-width: 320px) {
  .aboutUsHeader {
    /* height: 134vh; */
  }
  .aboutUsHeader {
    /* padding-bottom: 1rem;
    padding-top: 4rem; */
  }

  .ananya {
    font-size: 40px;
    line-height: normal;
    padding: 25px 0;
  }
  .aboutUs_banner_text_outer {
    width: 100%;
    padding: 0 0px;
  }
}
