.work_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  /* height: 60vh; */
  padding: 140px 0 50px;
}
.work_title {
  margin: 0 auto;
  width: 100%;
}
.work_text {
  color: #7f7047;
  text-align: center;
  font-family: "Dream Avenue";
  font-size: 7vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.ananya_said{
  color: #cc7d45;
}


.work_title1 {
  width: 63%;
  margin: 0 auto;
}
.work_text1 {
  color: #000;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .work_title {
    width: 100%;
  }
  .work_title1 {
    width: 50%;
  }
  .work_text {
    font-size: 7.5vw;
  }
  .work_text1 {
    font-size: 16px;
  }
}

@media (min-width: 1921px) and (max-width: 2600px) {
  .work_text1 {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .work_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    /* height: 100vh; */
  }
}


@media (max-width: 1024px) {
  .work_title1 {
    width: 76%;
    margin: 0 auto;
  }
  .work_container {
    display: flex;
    /* padding-top: 5rem; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    /* height: 50vh; */
  }
}


@media (max-width: 768px) {
  .work_title1 {
    width: 80%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .work_text {
    font-size: 7.5vw;
  }
}

@media (max-width: 500px) {
  .work_text {
    font-size: 8.3vw;
  }

  .work_text1 {
    text-align: left;
    font-size: 18px;
  }
  .work_container {
    gap: 1rem;
    /* height: 78vh; */
  }

  .work_title1 {
    padding-bottom: 0rem;
  }
}

@media (max-width: 320px) {
  .work_container {
    /* padding-top: 2rem; */
  }
}
