
.slick-track {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.slick-dots li.slick-active button:before {
  color: rgba(204, 125, 69, 1);
  transform: scale(2.4);
}

.slick-dots li button:before {
  color: rgba(204, 125, 69, 0.642);
  transform: scale(2.4);
}

@media screen and (max-width: 1400px) {
  .image {
    height: 100%;
    width: 80%;
  }
}
@media screen and (max-width: 1199px) {
  /* .slick-slide {
    margin-left: auto;
  }
  .slick-list {
    margin-left: -10rem !important;
  } */
}
@media screen and (max-width: 900px) {
  /* .slick-slide {
    margin-left: auto;
  } */
}
@media screen and (max-width: 769px) {
  /* .slick-dots {
    bottom: -30px;
    padding: 1.5rem 0;
  }
  .slick-dots li {
    margin: 0 6px;
  }
  .slick-list {
    margin-left: -10rem !important;
  }
  .slick-slide {
    margin-left: auto;
  } */
}
@media screen and (max-width: 700px) {
  /* .slick-slide {
    margin-left: auto;
  } */
}
@media screen and (max-width: 500px) {
  /* .slick-list {
    margin-left: -8rem !important;
  } */
}

@media (max-width: 476px) {
  /* .slick-dots li button:before {
    transform: scale(2);
  }
  .slick-dots li.slick-active button:before {
    transform: scale(2);
  }

  .slick-dots {
    bottom: -22px;
    padding: 1.3rem 0;
  }

  .slick-dots li {
    margin: 0 3px;
  } */
}
