.work_container {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.work_title {
  margin: 0 auto;
  width: 100%;
}
.ananya_said{
  color: #cc7d45;
}
.TextCenter{
  font-size: 60px;
}
.work_text {
  color: #7f7047;
  text-align: center;
  font-family:"Dream Avenue";
  font-size:7vw ;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.work_title1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 70%;
  margin: 0 auto;
}
.work_text1 {
  color: #000;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .work_title {
    width: 100%;
  }
  .work_title1 {
    width: 50%;
  }
  .work_text {
    font-size:7.5vw ;
  }
  .work_text1 {
    font-size: 16px;
  }
  .work_container {
    padding-top: 14rem;
    padding-bottom: 13.5rem;
  }
}

@media (min-width: 1921px) and (max-width: 2600px) {
  .work_text1 {
    font-size: 22px;
  }
}
@media(max-width: 1250px){
  .TextCenter{
    font-size: 50px;
  }
}
@media(max-width: 1199px){
  .TextCenter{
    font-size: 42px;
  }
}

@media (max-width: 768px) {
  .work_title1 {
    width: 100%;
  }
  .work_container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 575px) {
  .work_text1 {
    font-size: 14px;
    text-align: left;
  }
  
  .work_container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
  }

  .work_text {
    font-size:8vw ;
  }

  .work_title1 {
    padding-bottom: 0rem;
  }
  .TextCenter{
    font-size: 30px;
  }
}
@media(max-width: 375px){
  .TextCenter{
    font-size: 25px;
  }
}
