.gallery {
  height: 175vh;
  position: relative;
  display: flex;
  gap: 1vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.main {
  background-size: 100% 100%;
  background-image: url("../../images/02-min.jpg");
}

.hidden {
  display: none !important;
}

.gallery1 {
  height: 175vh;
  position: relative;
  display: flex;
  gap: 1vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;
}

.column {
  position: relative;
  height: 100%;
  width: 25%;
  min-width: 238px;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.videoContainer {
  width: 100%;
  pointer-events: none;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}
.video {
  height: auto;
  width: 100%;
}
.imageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.imageContainer2 {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.IamImage {
  cursor: pointer;
  object-fit: cover;
}
.gallery .column:nth-of-type(1) {
  top: -45%;
}
.gallery .column:nth-of-type(2) {
  top: -95%;
}
.gallery .column:nth-of-type(3) {
  top: -45%;
}
.gallery .column:nth-of-type(4) {
  top: -75%;
}

.gallery1 .column:nth-of-type(1) {
  top: -45%;
}
.gallery1 .column:nth-of-type(2) {
  top: -95%;
}
.gallery1 .column:nth-of-type(3) {
  top: -45%;
}
.gallery1 .column:nth-of-type(4) {
  top: -75%;
}

.spacer {
  height: 100vh;
  position: relative;
}
.spacer1 {
  height: 100vh;
  position: relative;
}

.spacerX {
  position: relative;
}
.dataOuter {
  padding: 0 50px;
  border-right: 1px solid #cc7d45;
}
.dataOuter:last-child {
  border: none;
}

.instagram {
  display: flex;
  justify-content: center;
  font-size: 100px;
  flex-direction: column;
  color: #cc7d45;
  font-family: "Dream Avenue";
  align-items: center;
  height: 100vh;
}
.InstaTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  flex-direction: column;
  color: #494949;
  font-family: "Dream Avenue";
  align-items: center;
}
.center {
  text-align: center;
  padding-top: 5rem;
}
.instagram1 {
  display: flex;
  justify-content: center;
  font-size: 100px;
  flex-direction: column;
  gap: 5rem;
  color: #cc7d45;
  font-family: "Dream Avenue";
  align-items: center;
  height: 100vh;
}

.brands_outer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  align-items: center;
  width: 100%;
}

.brands_logo_outer {
  margin: 0 auto;
}
.brand_logo {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}
.data {
  position: absolute;
  top: 70%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #494949;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dataHeading {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
}

.dataName {
  font-size: 24px;
}

.thanks_post {
  text-align: center;
  width: 54%;
}
.thanks_post_text {
  font-family: var(--font-poppins);
  font-size: 35px;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
}
.thanks_instapost {
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.thanks_instapost_text {
  font-size: 40px;
}

@media (max-width: 1199px) {
  .thanks_post {
    width: 80%;
  }
  .thanks_post_text {
    font-size: 32px;
  }
}

@media (max-width: 991px) {
  .dataOuter {
    padding: 0 30px;
  }
  .thanks_post_text {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .InstaTitle {
    padding-bottom: 100px;
    text-align: center;
  }
  .data {
    flex-wrap: wrap;
    padding: 0 50px;
  }
  .center {
    text-align: center;
  }
  .dataOuter {
    width: 50%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #cc7d45;
  }
  .dataOuter:nth-child(3) {
    border-bottom: none;
  }
  .dataOuter:nth-child(2) {
    border-right: none;
  }
  .instagram {
    padding: 0 0 30px;
  }

  .instagram1 {
    padding: 0 0 30px;
    font-size: 70px;
  }

  .thanks_instapost {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .thanks_post_text {
    font-size: 26px;
  }
}

@media (max-width: 575px) {
  .brands_outer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 140px;
    width: 100%;
  }
  .brands_logo_outer {
    display: flex;
    align-items: center;
  }

  .hidden {
    display: none !important;
  }

  .gallery .column:nth-of-type(1) {
    top: -7%;
  }
  .gallery .column:nth-of-type(2) {
    top: -9%;
  }
  .gallery .column:nth-of-type(3) {
    top: -11%;
  }
  .gallery .column:nth-of-type(4) {
    top: -13%;
  }

  .cardsOuter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: transparent;
    border-radius: 20px;
    object-fit: cover;
  }

  .spacer {
    height: auto;
    position: relative;
  }
  .gallery {
    height: 470vh;
    position: relative;
    display: flex;
    gap: 7rem;
    flex-direction: column;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
  }

  .gallery1 {
    height: 500vh;
    position: relative;
    display: flex;
    gap: 7rem;
    flex-direction: column;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  .videoContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 1vw;
    overflow: hidden;
  }
  .video {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .imageContainer {
    height: 400px;
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }
  .imageContainer2 {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
  }

  .gallery1 {
    height: 175vh;
    position: relative;
    display: flex;
    gap: 7rem;
    flex-direction: column;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
  }

  .column {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: auto;
    gap: 3vw;
  }

  .instagram {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #cc7d45;
    font-family: "Dream Avenue";
    align-items: center;
    height: 100vh;
    padding: 0 0 0px;
  }

  .instagram1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #cc7d45;
    font-family: "Dream Avenue";
    align-items: center;
    height: auto;
    gap: 0rem;
    padding: 0 0 0px;
  }
  .data {
    position: absolute;
    top: 75%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #494949;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
  }
  .dataHeading {
    font-size: 32px;
    margin: 0 0 8px;
  }
  .dataName {
    font-size: 20px;
  }
  .thanks_post_text {
    font-size: 20px;
  }
}

@media (max-width: 365px) {
  .dataOuter {
    width: 50%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #cc7d45;
  }

  .data {
    flex-direction: column;
  }

  .instagram {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #cc7d45;
    font-family: "Dream Avenue";
    align-items: center;
    height: 100vh;
    padding: 0 0 0px;
  }

  .instagram1 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #cc7d45;
    font-family: "Dream Avenue";
    align-items: center;
    height: auto;
    gap: 0rem;
    padding: 0 0 0px;
  }
  .dataOuter {
    border-right: none;
    width: 100%;
  }
  .dataOuter:nth-child(3) {
    border-bottom: 1px solid #cc7d45;
  }
}
