.canvas_factory_settings {
  height: 100vh;
  object-fit: cover;
  /* position: fixed; */
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  max-height: 100vh;
  width: 100%;
  object-position: center;
}

.scrolll {
  position: absolute;
  left: 50%;
  cursor: pointer;
  top: 90%;
}

.videoBg {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
  height: 100%;
  object-fit: cover;
}

/* button X */
.buttonOuter {
  position: sticky;
  bottom: 10rem;
  display: flex;
  justify-content: center;
}

.buttonX {
  appearance: none;
  background-color: #cc7d45;
  box-sizing: border-box;
  color: #ffffff;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1em 3em;
  position: absolute;
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  /* text-transform: uppercase; */
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.buttonX:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ffffff;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}

.buttonX:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.buttonX:after {
  background-color: #ffffff;
}

.buttonX:hover {
  border: none;
  color: rgb(174, 123, 86);
}

.buttonX a {
  position: relative;
}

.heroLogo {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
}

.hh {
  position: absolute;
  z-index: 9;
  left: 2rem;
  color: red;
  font-size: 100px;
  bottom: 3rem;
}

.interiormaata {
  position: absolute;
  font-size: 3.5vw;
  z-index: 1;
  font-family: var(--font-poppins);
  font-weight: 300;
  text-transform: capitalize;
  left: 5rem;
  color: #791125;
  bottom: 11rem;
}

.LivingRoom {
  position: absolute;
  font-size: 60px;
  font-family: var(--font-poppins);
  color: #451721;
  left: 5rem;
  bottom: -137rem;
}

.paragraph {
  position: absolute;
  width: 25%;
  font-size: 21px;
  font-family: var(--font-poppins);
  color: #ffffff;
  right: 6rem;
  bottom: -163rem;
}

.bedRoom {
  position: absolute;
  font-size: 60px;
  font-family: var(--font-poppins);
  color: #451721;
  left: 5rem;
  bottom: -322rem;
}
.paragraph1 {
  position: absolute;
  width: 25%;
  font-size: 21px;
  font-family: var(--font-poppins);
  color: #ffffff;
  right: 5rem;
  bottom: -341rem;
}
.outDoor {
  position: absolute;
  font-size: 60px;
  font-family: var(--font-poppins);
  color: #451721;
  right: 5rem;
  bottom: -538rem;
}

.paragraph2 {
  position: absolute;
  width: 30%;
  font-size: 21px;
  font-family: var(--font-poppins);
  color: #ffffff;
  left: 6rem;
  bottom: -518rem;
}
.text1 {
  position: absolute;
  font-size: 4.5vw;
  left: 5rem;
  /* line-height: 70px; */
  text-transform: capitalize;
  z-index: 1;
  font-family: "Dream Avenue";
  color: #ffffff;
  bottom: 15rem;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .canvas_factory_settings {
    object-fit: cover;
  }
  .interiormaata {
    position: absolute;
    left: 6rem;
    bottom: 20rem;
  }

  .LivingRoom {
    position: absolute;
    font-size: 70px;
    left: 5rem;
    bottom: -137rem;
  }
  .paragraph {
    position: absolute;
    width: 25%;
    font-size: 21px;

    right: 6rem;
    bottom: -169rem;
  }
  .bedRoom {
    position: absolute;
    font-size: 70px;
    right: 10rem;
    bottom: -404rem;
  }

  .paragraph1 {
    position: absolute;
    width: 25%;
    font-size: 21px;

    right: 5rem;
    bottom: -447rem;
  }

  .outDoor {
    position: absolute;
    font-size: 60px;
    right: 13rem;
    bottom: -610rem;
  }

  .paragraph2 {
    position: absolute;
    width: 25%;
    font-size: 21px;
    color: #ffffff;
    right: 6rem;
    bottom: -595rem;
  }

  .text1 {
    position: absolute;
    left: 6rem;
    line-height: 90px;
    bottom: 25rem;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .text1 {
    position: absolute;
    left: 6rem;
    font-size: 5vw;
    /* line-height: 90px; */
    bottom: 20rem;
  }

  .interiormaata {
    position: absolute;
    left: 6rem;
    font-size: 4.5vw;
    bottom: 16rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .text1 {
    position: absolute;
    left: 3rem;
    font-size: 5.5vw;
    /* line-height: 90px; */
    bottom: 22rem;
  }

  .interiormaata {
    position: absolute;
    left: 3rem;
    font-size: 5.5vw;
    bottom: 18rem;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .text1 {
    position: absolute;
    left: 3rem;
    font-size: 5.5vw;
    bottom: 22rem;
  }

  .interiormaata {
    position: absolute;
    left: 3rem;
    font-size: 5.5vw;
    bottom: 19rem;
  }
}

@media (min-width: 200px) and (max-width: 499px) {
  .text1 {
    position: absolute;
    left: 3rem;
    font-size: 6.5vw;
    bottom: 35rem;
  }

  .interiormaata {
    position: absolute;
    left: 3rem;
    font-size: 6.5vw;
    bottom: 33rem;
  }

  .buttonOuter {
    position: sticky;
    bottom: 12rem;
  }
}

@media (min-width: 200px) and (max-width: 500px) {
  .buttonX {
    padding: 1rem 1.4rem;
  }

  .canvas_factory_settings {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .LivingRoom {
    display: none;
  }

  .paragraph {
    display: none;
  }

  .bedRoom {
    display: none;
  }
  .paragraph1 {
    display: none;
  }
  .outDoor {
    display: none;
  }
}
