.seventh_Section_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7rem 5rem 6rem;
  position: relative;
}

.ourDesign_outer {
  padding: 5rem 5rem;
}

.seventh_Section_content_text {
  color: #7f7047;
  width: 50%;
  font-family:"Dream Avenue";
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.seventh_Section_content_text1 {
  color: #000;
   font-family: var(--font-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  /* text-transform: capitalize; */
}

.table_Section {
  padding: 0 116px;
}

.table_content {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  cursor: default;
  position: relative;
}

.ourDesign_icons {
  height: auto;
  display: block;
}
.table_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: #cc7d45;
  transition: width 0.2s ease;
  transition-duration: 1s;
}

.table_content:hover::before {
  width: 100%;
}

.table_content:nth-child(n) {
  border-top: 1px solid #cc7d456b;
}
.table_content:nth-last-child(1) {
  border-bottom: 1px solid #cc7d456b;
}
.table_section_content {
  padding-left: 1rem;
}
.table_Section_emphasis {
  color: #cc7d45;
  padding-bottom: 4px;
   font-family: var(--font-poppins);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: capitalize;
}

.table_content_emphasis {
  color: #000000;
   font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-transform: capitalize;
}

.Crafting_Section {
  display: flex;
  padding-left: 5rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.Crafting_Section_Image {
  display: flex;
}

.Crafting_section_img {
  display: block;
}
.Crafting_Section_Content_Text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 25rem;
}
.Crafting_Section_Content {
  background: #c0c2aa;
  width: 100%;
  margin-top: 3rem;
}

.Crafting_Section_Left {
  color: #000;
   font-family: var(--font-poppins);
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: capitalize;
}

.Crafting_Section_Right {
  color: #000;
   font-family: var(--font-poppins);
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}

@media screen and (min-width: 1800px) {
  .seventh_Section_container {
    padding: 0rem 7rem 5rem 7rem;
  }
}

@media screen and (max-width: 1440px) {
  .seventh_Section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem 5rem 7rem;
    position: relative;
  }
  
}

@media (min-width: 1921px) and (max-width: 2600px) {
  .seventh_Section_content_text1 {
    font-size: 18px;
  }
}


@media screen and (max-width: 1024px) {
  .seventh_Section_container {
    padding: 0rem 5rem 4rem 5rem;
    text-align: center;
  }
  .seventh_Section_content_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 57%;
    text-align: center;
    padding-bottom: 2rem;
  }
  .table_Section {
    padding: 0 50px;
  }
  .ourDesign_outer{
    padding: 2rem 4rem 8rem;
  }
}


@media screen and (max-width: 991px) {
  .seventh_Section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 3rem 2rem;
    position: relative;
  }

  .seventh_Section_content_text1 {
    font-size: 14px;
  }
  
}



@media screen and (max-width: 768px) {
  .seventh_Section_container {
    padding: 0rem 1rem 2rem 3rem;
    
  }

  .table_Section {
    padding: 0 20px;
  }

  .ourDesign_outer {
    padding: 0rem 3rem 8rem;
  }

  .seventh_Section_content_text {
    width: 47%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }

}
@media (min-width:501px) and (max-width: 767px) {
  .seventh_Section_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 2rem 2rem 2rem;
  }

  .table_Section {
    padding: 0 35px;
  }
  .seventh_Section_content_text {
    font-size: 50px;
    width: 100%;
  }
  .table_Section_emphasis {
    font-size: 15px;
  }
  .table_content_emphasis {
    font-size: 11px;
    width: 90%;
  }
  .seventh_Section_content_text1 {
    font-size: 14px;
    text-align: left;
  }
  .ourDesign_outer {
    padding: 0rem 0rem;
    padding-bottom: 4rem;
  }

}
@media screen and (max-width: 500px) {
  .seventh_Section_container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 2rem 2rem 2rem;
  }

  .table_Section {
    padding: 0 20px;
  }
  .seventh_Section_content_text {
    font-size: 50px;
    width: 100%;
  }
  .table_Section_emphasis {
    font-size: 15px;
  }
  .table_content_emphasis {
    font-size: 11px;
    width: 90%;
  }
  .seventh_Section_content_text1 {
    font-size: 14px;
    text-align: left;
  }
  .ourDesign_outer {
    padding: 0rem 0rem;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 320px) {
  .seventh_Section_container {
    padding: 0rem 0.5rem 2rem 1.5rem;
  }

  .table_Section {
    padding: 0 15px;
  }
  .ourDesign_icons1 {
    height: 60px;
    display: block;
  }
}
