.Crafting_Section {
  padding-left: 5rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.Crafting_Section_Image {
  position: relative;
  width: 100%;
}

.Crafting_section_img {
  display: block;
    max-width: 100%;
}
.Crafting_Section_Content_Text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-left: 11rem;
  padding-right: 13rem;
}
.Crafting_Section_Content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.Crafting_Section_Left {
  color: #000;
  font-family: 'NeueMontreal-Regular';
  font-size: 41px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.82px;
  text-transform: capitalize;
}

.Crafting_Section_Right {
  color: #000;
  font-family: 'NeueMontreal-Regular';
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
@media (min-width: 1500px) {
  .Crafting_Section_Content_Text {
    padding-top: 3rem;
    padding-left: 16rem;
    padding-right: 25rem;
  }
  .Crafting_section_img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1199px) {
  .Crafting_Section_Content_Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 5rem;
  }
}
@media (max-width: 991px) {
  .Crafting_Section_Content_Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 7rem;
    padding-right: 1rem;
  }
}
@media (max-width: 768px) {
  .Crafting_Section_Content_Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 3rem;
  }
  .Crafting_Section_Left{
    font-size: 35px;
  }
  .Crafting_Section{
    padding-left: 2rem;
  }
}

@media (max-width: 687px) {
  .Crafting_Section_Content_Text
  {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 375px) {
  .Crafting_Section_Left{
    font-size: 30px;
  }
}

