.timeline_container {
  padding-left: 11rem;
  padding-right: 7rem;
  padding-bottom: 7rem;
}
.timeline_content1 {
  display: flex;
  justify-content: left;
  gap: 3rem;
}
.timeline_content2 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
}
.timeline1_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}
.timline1_meet_text {
  color: #CC7D45;
  font-family:"Dream Avenue";
  font-size: 3.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.timline1_meet_text1 {
  color: #CC7D45;
  font-family:"Dream Avenue";
  font-size: 3.4vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.timeline1_content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timeline1_innertext {
  padding-top: 1rem;
  width: 100%;
}
.timeline1_innertext2 {
  padding-top: 1rem;
  width: 100%;
}
.timeline1_innertext4 {
  padding-top: 1rem;
  width: 100%;
}
.timeline1_innertext5 {
  padding-top: 1rem;
  width: 100%;
}
.timeline1_innertext_design {
  width: 50%;
  padding-top: 1rem;
}
.timline1_meet_text_inner,
.timline1_meet_text_inner2 {
  color: #000;
  font-family: var(--font-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.timline1_meet_text_content {
  width: 90%;
}
.border_line_content {
  text-align: center;
}
.linesvg {
  max-width: 100%;
}
.border_top {
  width: 666px;
  height: 84px;
  margin-bottom: 2rem;
  position: relative;
  margin-left: 8rem;
  border-left: 1px dashed black;
}
.border_top::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px dashed black;
}
.border_top::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 50%;
  border-right: 1px dashed black;
}
.border_top1 {
  width: 666px;
  height: 84px;
  margin-top: 4rem;
  position: relative;
  margin-left: 8rem;
  border-left: 1px dashed black;
}
.border_top1::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px dashed black;
}
.border_top1::after {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-right: 1px dashed black;
}
.border_top_max{
  display: none;
}
@media (min-width: 1600px) and (max-width:1920px) {
  .timeline_container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .timline1_meet_text1 {
    font-size: 3.2vw;

  }
  .timline1_meet_text_content {
    width: 100%;
  }
  .timline1_meet_text {
    font-size: 3.2vw;
  }
  .timeline1_innertext {
    padding-top: 1rem;
    width: 100%;
  }
  .timeline1_innertext2 {
    padding-top: 1rem;
    width: 100%;
  }
  .timeline1_innertext4 {
    padding-top: 1rem;
    width: 100%;
  }
  .timeline1_innertext5 {
    padding-top: 1rem;
    width: 100%;
  }
}

@media (min-width: 1921px) and (max-width: 2600px) {
  .timline1_meet_text_inner,
.timline1_meet_text_inner2 {
  font-size: 20px;

}
}

@media (max-width: 1400px)
{
  .timeline_container {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 1300px)
{
  .timeline_container {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 1210px)
{
  .timeline_container {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 10rem;
  }
}
@media (max-width: 1024px) and (min-width: 767px) {
  .timeline_container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .timeline1_content,
  .timeline1_content1 {
    width: 100%;
  }
  .timeline1_innertext {
    width: 70%;
  }
  .timeline1_innertext_design {
    width: 70%;
  }
  .timline1_meet_text {
    font-size: 3.3vw;
  }
  .timline1_meet_text1 {
    font-size: 3vw;
  }
  .border_top{
    display: none;
  }
  .border_top1{
    display: none;
  }
}
@media (max-width: 768px) {
  .timeline_container {
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .timeline_content1,
  .timeline_content2 {
    gap: 2rem;
    justify-content: center;
  }
  .timeline1_content,
  .timeline1_content1 {
    width: 100%;
  }
  .timeline1_innertext_design {
    width: 100%;
  }
  .timline1_meet_text {
    font-size: 4.8vw;
  }
  .timline1_meet_text1 {
    font-size: 3.8vw;
  }
  .timline1_meet_text_content {
    width: 100%;
  }
  .timeline1_image {
    max-width: 100%;
    height: auto;
  }
  .border_top{
    display: none;
  }
  .border_top1{
    display: none;
  }
  .border_top_max{
    display: block;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .border_max{
    width: 100%;
    height: 20vh;
  }
}
@media (max-width: 575px) {
  .timeline_container {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .timline1_meet_text {
    font-size: 8vw;
  }
  .timline1_meet_text1 {
    font-size: 5vw;
  }
  .timeline_content1{
    flex-direction: column;
  }
  .timeline_content1,
  .timeline_content2 {
    gap: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }
}