.marquee_text {
  font-size: 65px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #000000;
  font-family:"Dream Avenue";
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  text-transform: uppercase;
}

@media (min-width:1600px){
  .marquee_text {
    font-size: 70px;
    padding-right: 1rem;
  }
}

@media (min-width:2000px){
  .marquee_text {
    font-size: 100px;
    padding-bottom: 5rem;
    padding-right: 1rem;
  }
}