.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

.popup {
  position: absolute;
  background: #86868645;
  left: 29%;
  top: 20%;
  padding: 10px;
  box-shadow: 0 0 10px rgb(86 86 86 / 43%);
  z-index: 1000;
}
.popup-item {
  padding: 5px 0;
}

.link_text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 300;
  padding-bottom: 0.3rem;
  font-family: var(--font-poppins);
  position: relative;
}


.link_text:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1.2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}
.link_text:hover:after {
  width: 100%;
  left: 0;
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .popup {
    position: absolute;
    background: #86868645;
    left: 28%;
    top: 30%;
    padding: 10px;
    box-shadow: 0 0 10px rgb(86 86 86 / 43%);
    z-index: 1000;
  }
}


@media (min-width:200px) and (max-width:500px) {
  .popup {
    position: absolute;
    background: #86868645;
    left: 34%;
    top: 32%;
    padding: 10px;
    display: flex;
    flex-direction:column;
    gap:12px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(86 86 86 / 43%);
    z-index: 1000;
  }
  .link_text {
    color: rgb(255, 255, 255);
    font-size: 21px;
  }
}