.landing_page_second_container {
  width: 100%;
  height: 100%;
}

.landing_page_second_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_text_new{
  width: 90%;
  color: #cc7d45;
}
.landing_page_second_content_text {
  width: 100%;
  color: #7f7047;
  font-family: "Dream Avenue";
  font-size: 3.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.landing_page_second_images {
  padding-top: 4rem;
  padding-bottom: 10rem;
  display: flex;
  padding: 50px 50px;
  /* justify-content: center; */
  /* gap: 6rem; */
  /* align-items: center; */
}
.Landing_image1,
.Landing_image2,
.Landing_image3 {
  position: relative;
  width: 100%;
}
/* .about_hover {
  position: absolute;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -48%);
  transition: opacity 0.7s ease-in-out;
  overflow: hidden;
} */
/* .Landing_image1:hover .about_hover {
  opacity: 1;
}
.Landing_image1:not(:hover) .about_hover {
  opacity: 0;
}

.Landing_image2:hover .about_hover {
  opacity: 1;
} */

/* .Landing_image2:not(:hover) .about_hover {
  opacity: 0;
}

.Landing_image3:hover .about_hover {
  opacity: 1;
}

.Landing_image3:not(:hover) .about_hover {
  opacity: 0;
} */
.overlay_text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out;
}

/* .Landing_image1:hover .overlay_text{
  transform: translate(-50%, 170%);
  cursor: pointer;
  
} */






/* .Landing_image2:hover .overlay_text{
  transform: translate(-50%, 170%);
  cursor: pointer;
}

.Landing_image3:hover .overlay_text{
  transform: translate(-50%, 125%);
  cursor: pointer;
} */

.overlay_text_content {
  color: #000;
  font-family: var(--font-poppins);
  font-size: 27px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.overlay_text_content1 {
  color: #7f7047;
  font-family: "Dream Avenue";
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .landing_page_second_images {
    gap: 2rem;
  }
}
@media (max-width: 990px) {
  .landing_page_second_images {
    gap: 1.5rem;
  }
}


@media (max-width: 850px) {
  .landing_page_second_content_text {
    font-size: 4.3vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .landing_page_second_images {
    flex-direction: column;
    gap: 3rem;
  }
  .Landing_image1:hover .overlay_text{
    transform: none;
    cursor: pointer;
    display: none;
  }
  
  .Landing_image2:hover .overlay_text{
    transform: none;
    cursor: pointer;
    display: none;
  }
  
  .Landing_image3:hover .overlay_text{
    transform: none;
    cursor: pointer;
    display: none;
  }
  
}
@media (max-width: 600px) {
  .landing_page_second_content_text {
    font-size: 4.3vw;
  }
}
@media (max-width: 500px) {
  .Landing_image1 {
    position: relative;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }

  .landing_page_second_content_text {
    font-size: 4vw;
  }

  .Landing_image1:hover {
    display: block;
  }
  .Landing_image2 {
    position: relative;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }

  .Landing_image2:hover {
    display: block;
  }

  .Landing_image3 {
    position: relative;
    background-repeat: no-repeat;
    transition: all 0.5s;
  }

  .Landing_image3:hover {
    display: block;
  }
}

@media (max-width: 425px) {
  .landing_page_second_images {
    padding-bottom: 3rem;
  }
  .landing_page_second_content_text {
    font-size: 3.8vw;
  }
}

@media (min-width: 375px) and (max-width: 429px) {
  .landing_page_second_content_text {
    font-size: 3.8vw;
  }
}

@media (min-width: 300px) and (max-width: 374px) {
  .landing_page_second_content_text {
    font-size: 3.8vw;
  }
}
