.onlineConsultancy {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.onlineConsultancy_Innersection {
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainsection {
  width: 62%;
}

.onlineConsultancy_section {
  background-color: #d4d4d4;
  height: auto;
}

.topButtons {
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 1rem;
}

.btn1 {
  border: 1px solid #cc7d45;
  background-color: transparent;
  color: #cc7d45;
  font-family: var(--font-poppins);
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.44px;
  text-transform: capitalize;
  word-wrap: break-word;
  transition: all 0.3s ease-in-out;
  padding: 0.9rem 4rem;
}
.btn1.activeBtn {
  background-color: #cc7d45;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn2 {
  border: 1px solid #7f7047;
  background-color: transparent;
  color: #7f7047;
  font-size: 22px;
  font-family: var(--font-poppins);
  font-weight: 400;
  cursor: pointer;
  letter-spacing: 0.44px;
  padding: 0.9rem 4rem;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  word-wrap: break-word;
}
.btn2.activeBtn {
  background-color: #7f7047;
  color: white;
  transition: all 0.3s ease-in-out;
}
.btn3 {
  border: 1px solid #8d4c1e;
  background-color: transparent;
  color: #8d4c1e;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 22px;
  font-family: var(--font-poppins);
  font-weight: 400;
  letter-spacing: 0.44px;
  padding: 0.9rem 4rem;
  text-transform: capitalize;
  word-wrap: break-word;
}
.btn3.activeBtn {
  background-color: #8d4c1e;
  color: white;
  transition: all 0.3s ease-in-out;
}

.contentSection {
  padding: 2rem 4rem 4rem;
  display: flex;
  font-family: var(--font-poppins);
  justify-content: space-around;
}

.textSection {
  width: 65%;
}

.onlineConsultancy_section_title {
  font-size: 54px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.08px;
  word-wrap: break-word;
}

.onlineConsultancy_section_text {
  width: 80%;
  font-size: 24px;
  font-weight: 300;
  font-family: var(--font-poppins);
  letter-spacing: 0.48px;
  word-wrap: break-word;
  margin: 2rem 0;
}

.title {
  margin: 0;
}
/* btn1 */
.exclusiveGstBtn1 {
  border: 1px solid #cc7d45;
  color: #cc7d45;
  background-color: transparent;
  width: fit-content;
  font-family: var(--font-poppins);
  font-size: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: capitalize;
  padding: 0.7rem 2.6rem;
  float: left;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.exclusiveGstBtn1:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #cc7d45;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  color: black;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.exclusiveGstBtn1:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.exclusiveGstBtn1:after {
  background-color: #ffffff;
}
.exclusiveGstBtn1 span {
  position: relative;
}

.exclusiveGstBtn1 span:before {
  color: black;
}

.exclusiveGstBtn1:hover {
  color: white;
}

/* btn2 */
.exclusiveGstBtn2 {
  border: 1px solid #7f7047;
  color: #7f7047;
  background-color: transparent;
  width: fit-content;
  font-family: var(--font-poppins);
  font-size: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: capitalize;
  padding: 0.7rem 2.6rem;
  float: left;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.exclusiveGstBtn2:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #7f7047;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  color: black;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.exclusiveGstBtn2:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.exclusiveGstBtn2:after {
  background-color: #ffffff;
}
.exclusiveGstBtn2 span {
  position: relative;
}

.exclusiveGstBtn2 span:before {
  color: black;
}

.exclusiveGstBtn2:hover {
  color: white;
}
/* btn3 */
.exclusiveGstBtn3 {
  border: 1px solid #8d4c1e;
  color: #8d4c1e;
  background-color: transparent;
  width: fit-content;
  font-family: var(--font-poppins);
  font-size: 12px;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: capitalize;
  padding: 0.7rem 2.6rem;
  float: left;
  margin: 1rem 0;
  display: inline-block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1),
    background-color 100ms cubic-bezier(0.694, 0, 0.335, 1),
    color 100ms cubic-bezier(0.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.exclusiveGstBtn3:before {
  animation: opacityFallbackOut 0.5s step-end forwards;
  backface-visibility: hidden;
  background-color: #8d4c1e;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  color: black;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-clip-path 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 100%;
}
.exclusiveGstBtn3:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.exclusiveGstBtn3:after {
  background-color: #ffffff;
}
.exclusiveGstBtn3 span {
  position: relative;
}

.exclusiveGstBtn3 span:before {
  color: black;
}

.exclusiveGstBtn3:hover {
  color: white;
}
.imageSection {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  height: auto;
  object-fit: contain;
}
.accordian_section {
  display: none;
}

@media screen and (min-width: 1500px) {
  .onlineConsultancy_section_btn {
    font-size: 20px;
  }
  .onlineConsultancy_section {
    background-color: #d4d4d4;
    height: auto;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  .contentSection {
    padding: 2rem 4rem 6rem;
    display: flex;
    font-family: var(--font-poppins);
    justify-content: space-around;
  }
  .onlineConsultancy_Innersection {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 1rem;
  }

  .onlineConsultancy_section_title {
    font-size: 70px;
  }
}

@media (max-width: 1440px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 65%;
  }

  .onlineConsultancy_section {
    background-color: #d4d4d4;
  }

  .topButtons {
    display: flex;
    justify-content: space-evenly;
    padding: 3.5rem 1rem;
  }

  .btn1 {
    font-size: 20px;
    letter-spacing: 0.42px;
  }

  .btn2 {
    font-size: 20px;
    letter-spacing: 0.42px;
  }
  .btn3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.42px;
  }

  .contentSection {
    padding: 2rem 4rem 5rem;
  }

  .textSection {
    width: 50%;
  }

  .onlineConsultancy_section_title {
    font-size: 48px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 300px;
    font-size: 21px;
    letter-spacing: 0.44px;
    margin: 2rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 20px;
    padding: 0.7rem 2.6rem;
    margin: 2rem 0;
  }

  .imageSection {
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------1199px--------------------------------- */
@media (max-width: 1199px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 65%;
  }

  .topButtons {
    padding: 2.5rem 0.5rem;
  }

  .btn1 {
    font-size: 17px;
    letter-spacing: 0.4px;
  }

  .btn2 {
    font-size: 17px;
    letter-spacing: 0.4px;
  }
  .btn3 {
    font-size: 17px;
    letter-spacing: 0.4px;
  }

  .contentSection {
    padding: 1rem 2rem 5rem;
  }

  .onlineConsultancy_section_title {
    font-size: 40px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 250px;
    font-size: 18px;
    letter-spacing: 0.44px;
    margin: 1.5rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 11px;
    padding: 0.6rem 2.2rem;
    margin: 2rem 0;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------992px--------------------------------- */
@media (max-width: 992px) {
  .onlineConsultancy_Innersection {
    padding: 0rem;
  }

  .mainsection {
    width: 70%;
  }

  .topButtons {
    padding: 2rem 0.4rem;
  }

  .btn1 {
    font-size: 14px;
  }

  .btn2 {
    font-size: 14px;
  }
  .btn3 {
    font-size: 14px;
    letter-spacing: 0.4px;
  }

  .contentSection {
    padding: 1rem 1.5rem 5rem;
  }

  .onlineConsultancy_section_title {
    font-size: 34px;
    letter-spacing: 1.08px;
  }

  .onlineConsultancy_section_text {
    width: 200px;
    font-size: 16px;
    letter-spacing: 0.44px;
    margin: 1rem 0;
  }

  .onlineConsultancy_section_btn {
    font-size: 10px;
    padding: 0.5rem 2rem;
    margin: 2rem 0;
  }

  .imageSection img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

/* -----------------------------768px--------------------------------- */
@media (max-width: 768px) {
  .onlineConsultancy {
    padding-top: 6rem;
    padding-bottom: 0rem;
  }
  .onlineConsultancy_Innersection {
    display: none;
  }

  .accordian_section {
    display: block;
    padding: 2rem 4rem;
    background-color: #d4d4d4;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .onlineConsultancy {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
}
