.aboutUsHeader {
  /* padding-top: 6rem;
  padding-bottom: 4rem; */
  
  padding: 6rem 150px;
}
.ananya {
  color: #7f7047;
  font-family: "Dream Avenue";
  font-size: 40px;
  font-style: normal;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 400;
  /* line-height: 100px; */
  text-transform: uppercase;
}
.aboutUs_banner_imageX{
  width: 100%;
  object-fit: cover;
  height: 600px;
}
.designStyle {
  font-family: var(--font-poppins);
  color: #7f7047;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.aboutUs_banner_textOne{
  padding-top: 1rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.aboutUs_banner_textOne.show {
  max-height: 1000px; /* Adjust this value based on content height */
}
.viewMoreButton{
  display: inline-block;
  color: #cc7d45;
  border-bottom: 1px solid #cc7d45;
  cursor: pointer;
  padding-top: 1rem;
}
.aboutUs_flex_divider {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 0rem;
  /* padding-left: 20rem; */
}
.aboutUs_buttonOuter {
  color: #7f7047;
  font-weight: 500;
  font-family: var(--font-poppins);
  text-transform: capitalize;
  font-size: 24px;
  margin-top: 1rem;
}
.aboutUs_banner_text_outer {
  /* margin-top: 2rem; */
}
.aboutUs_banner_text {
  color: #cc7d45;
  font-family: var(--font-poppins);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
  /* text-transform: capitalize; */
}
@media (min-width: 1500px){
  .ananya{
    font-size: 44px;
  }
}
@media (min-width: 1600px) and (max-width: 1920px) {
  .ananya {
    font-size: 50px;
    width: 90%;
    line-height: 140px;
  }
  .aboutUsHeader {
    padding-top: 9rem;
    padding-bottom: 7rem;
  }
}

@media (min-width: 1921px) and (max-width: 2600px) {
  /* .ananya {
    font-size: 150.669px;
    width: 90%;
    line-height: 150px;
  } */

  .aboutUsHeader {
    padding-top: 17rem;
    padding-bottom: 9rem;
  }

  .aboutUs_banner_text {
    font-size: 20px;
    line-height: 22px;
  }

  .aboutUs_flex_divider {
    display: flex;
    width: 100%;
    gap: 2rem;
    margin: 0 auto;
    /* padding-left: 20rem; */
  }

  
}
@media(max-width: 1250px){
.ananya {
  font-size: 35px;
  line-height: 40px;
  padding-bottom: 1.5rem;
  width: 100%;
}
.aboutUs_flex_divider {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
@media screen and (max-width: 1024px) {
  .aboutUsHeader{
    padding: 6rem 100px;
  }
  .ananya {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 1.5rem;
    width: 100%;
  }
  .aboutUs_flex_divider {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .aboutUs_banner_text_outer {
    /* margin: 0 auto;
    width: 80%; */
  }
}
@media(max-width: 768px){
  .aboutUs_banner_imageX{
    width: 100%;
    height: auto;
  }
  .aboutUsHeader{
    padding: 6rem 50px;
  }
}
@media (max-width: 575px) {
  .ananya {
    font-size: 30px;
    line-height: normal;
    padding-bottom: 0rem;
    width: 100%;
  }
  .aboutUsHeader {
    padding-top: 5rem;
    padding-bottom: 4rem;
  }
  .aboutUs_banner_text_outer {
    /* margin: 0 auto; */
    font-size: 14px;
    /* width: 90%; */
  }
}
@media screen and (max-width: 425px) {
  .ananya {
    font-size: 25px;
    line-height: normal;
    padding-bottom: 0rem;
  }
  .aboutUsHeader{
    padding: 6rem 25px;
  }
  .aboutUs_banner_text_outer {
    font-size: 14px;
    /* width: 88%; */
  }
  .aboutUs_flex_divider {
    gap: 1.3rem;
  }
}
@media (max-width: 375px) {
  .ananya {
    font-size: 22px;
    line-height: normal;
    padding-bottom: 0rem;
  }
  .aboutUs_banner_image img {
    max-width: 100%;
    object-fit: cover;
    padding: 0 0px;
  }
}
@media screen and (max-width: 320px) {
  .ananya {
    font-size: 20px;
    line-height: normal;
    padding: 0 20px;
  }
  .aboutUs_banner_text_outer {
    /* width: 95%; */
    /* padding: 0 15px; */
  }
}
